html{
    background-color: floralwhite;
}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
form,h1{
    margin: 30px;
}


li{
    display: flex;
    justify-content: space-between;
    border: 10px;
    border: solid;
    background-color: rgb(17, 127, 127);
    /* border-radius: 30px; */
    color: white;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
#button,button{
    background-color: rgb(8, 53, 53);
    color: aliceblue;
    width: 80px;
}
#button:hover{
    background-color: aqua;
}